@import url('./__photo/commits-card__photo.css');
@import url('./__date/commits-card__date.css');
@import url('./__info/commits-card__info.css');
@import url('./__mail/commits-card__mail.css');
@import url('./__name/commits-card__name.css');
@import url('./__text/commits-card__text.css');

.commits-card {
  max-width: 400px;
  height: 288px;
  padding: 24px;
  background: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 405px) {
  .commits-card {
    width: 380px;
  }
}

@media screen and (max-width: 380px) {
  .commits-card {
    width: 370px;
  }
}

@media screen and (max-width: 375px) {
  .commits-card {
    padding: 12px;
    width: 350px;
  }
}

@media screen and (max-width: 355px) {
  .commits-card {
    padding: 12px;
    width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .commits-card {
    height: 264px;
    padding: 12px;
    width: 288px;
  }
}
