.board__row {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 24px;
  width: 100%;
}

.board__row:nth-child(1) {
  width: 15%;
  background-color: #2F71E5;
}

.board__row:nth-child(2) {
  width: 18%;
  background-color: #2F71E5;
}

.board__row:nth-child(3) {
  width: 11%;
  background-color: #2F71E5;
}
.board__row:nth-child(4) {
  width: 39%;
  background-color: #2F71E5;
}
.board__row:nth-child(5) {
  width: 45%;
  background-color: #2F71E5;
}
.board__row:nth-child(6) {
  width: 73%;
  background-color: #2F71E5;
}
.board__row:nth-child(7) {
  width: 34%;
  background-color: #2F71E5;
}
