.board__row {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 24px;
  width: 0%;
  background-color: #2F71E5;
  padding-left: 5px;
  display: flex;
  align-items: center;
}