.board__percents {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 91.5%;
  margin-left: 8.5%;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .board__percents {
    margin-left: 6.5%;
  }
}

@media screen and (max-width: 320px) {
  .board__percents {
    display: none;
  }
}


