.commits__button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    border: 1px solid #1A1B22;
    border-radius: 100px;
    padding: 15px 69px;
    text-decoration: none;
    display: none;  
    margin: 0;
    width: 150px;
    height: 24px;
    margin-left: 16px;
}

@media screen and (max-width:320px) {
    .commits__button {
        display: block;
        margin-bottom: 32px;
    }
}
