@import url("./__title/header__title.css");
@import url("./__links-container/header__links-container.css");
@import url("./__link/header__link.css");
@import url("./_dark/header_dark.css");
@import url("./__container/header__container.css");
@import url("./_light/header_light.css");
@import url("./__link/_active-dark/header__link_active-dark.css");
@import url("./__link/_active-light/header__link_active-light.css");
@import url("./__link/_active-black/header__link_active-black.css");

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header{
    height: 64px;
  }
}

@media screen and (max-width: 560px) {
  .header{
    height: 56px;
  }
}





