.for-clients__container {
  max-width: 815px;
}

@media screen and (max-width: 768px) {
  .for-clients__container {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .for-clients__container {
    padding-top: 16px;
    margin-bottom: 16px;
  }
}
