@import url("./__title/card_title.css");
@import url("./__subtitle/card__subtitle.css");
@import url("./__origin/card__origin.css");
@import url("./__image/card__image.css");
@import url("./__date/card__date.css");
@import url("./__link/card__link.css");

.card {
  display: flex;
  flex-direction: column;
  max-height: 576px;
  width: 400px;
  border-radius: 15px;
  background: #FFFFFF;
  margin: 0;
  position: relative;
  margin-bottom: 16px;
}

.card:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 224px;
    max-height: 420px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 300px;
    max-height: 446px;
  }
}
