.board__dates-column {
  width: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: flex-start;
}

.board__days-column {
  width: 10.5%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: flex-start;
}
