.card__origin {
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 18px 0 24px 24px;
}

@media screen and (max-width: 768px) {
  .card__origin {
    margin: 12px 0 16px 16px;
  }
}

@media screen and (max-width: 320px) {
  .card__origin {
    margin: 5px 0 20px 16px;
  }
}

