@import url("./__title/technologies__title.css");
@import url("./__name/technologie__name.css");
@import url("./__items/technologies__items.css");
@import url("./__item/technologies__item.css");
@import url("./__image/technologies__image.css");
@import url("./__container/technologies__container.css");

.technologies {
  margin-top: 94px;
  padding: 80px 0 85px 0;
  background: #F5F6F7;
}

@media screen and (max-width: 768px) {
  .technologies {
    margin-top: 0;
    padding: 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .technologies {
    padding-top: 32px;
    padding-bottom: 0;
  }
}
