@import url("./__mentions/request__mentions.css");
@import url("./__subtitle/request__subtitle.css");
@import url("./__title/request__title.css");
@import url("./__total/request__total.css");

.request {
  width: 100%;
  max-width: 1440px;
  padding: 0 5%;
  margin: 80px auto 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .request {
    margin-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .request {
    margin-top: 72px;
  }
}

