.technologies__items {
  max-width: 598px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .technologies__items {
    max-width: 100%;
  }
}
